---
- name: Include vCenter variables
  include_vars: ../group_vars/vcenter.yml

- name: Create {{ CompHost }} from Template
  vmware_guest:
    hostname: 192.168.0.203
    username: "{{ vcenter_user }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    folder: "{{ vfolder }}"
    datacenter: "{{ vdatacenter }}"
    #esxi_hostname: "{{ esxhost }}"
    name: "{{ CompHost }}"
    state: poweredon
    guest_id: "{{ vguestos }}"
    annotation: "{{ vdescription }}"
    template: "{{ vtemplate }}"
    disk:
    - size_gb: "{{ vdisk1 }}"
      datastore: "{{ vdatastore1 }}"
    hardware:
      num_cpus: "{{ vcpu }}"
      hotadd_cpu: "{{ vhotaddcpu }}"
      hotremove_cpu: "{{ vhotremovecpu }}"
      memory_mb: "{{ vmemory }}"
      hotadd_memory: "{{ vhotaddmemory }}"
    networks:
    - name: "{{ vnetwork1 }}"
      ip: "{{ vip1 }}"
      netmask: "{{ vmask1 }}"
      gateway: "{{ vgateway1 }}"
      domain: "{{ CompDomain }}"
      type: "{{ iftype1 }}"
      dns: "{{ vdnsservers }}"
    customization:
      hostname: "{{ CompHost }}"
      domain: "{{ CompDomain }}"
      dns_servers: "{{ vdnsservers }}"
      timezone: 100
    wait_for_ip_address: yes
  delegate_to: localhost
