---
- name: Include vCenter variables
  include_vars: ../group_vars/vcenter.yml

- name: Create {{ CompHost }} from Template
  vmware_guest:
    hostname: vcs01.lab.local
    username: "{{ vcenter_user }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    datacenter: "{{ vdatacenter }}"
    folder: "{{ vfolder }}"
    esxi_hostname: "{{ esxhost }}"
    name: "{{ CompHost }}"
    template: "{{ vtemplate }}"
    networks:
    - name: "{{ vnetwork1 }}"
      ip: "{{ vip1 }}"
      netmask: "{{ vmask1 }}"
      gateway: "{{ vgateway1 }}"
      domain: "{{ CompDomain }}"
      dns_servers:
      - "{{ vdns1 }}"
      - "{{ vdns2 }}"
      type: "{{ iftype1 }}"
    customization:
      hostname: "{{ CompHost }}"
      domain: "{{ CompDomain }}"
      dns_servers:
      -  "{{vdns1 }}"
      - "{{ vdns2 }}"
      timezone: 100
  delegate_to: localhost
